.box{
    margin:auto;
    width:80%;
    background-color: whitesmoke;
    height: 80vh;
    max-height: fit-content;
}

.bottomimage{
    display: flex;
    height: 250px;
    margin-top: 3%;
    margin-bottom: 1%;
}

.topimage{
    height: 250px;
    margin-left: 5vw;
    margin-top: 2%;
}



.flex-me2{
    
    width:75vw;
    margin: auto;
}

.text{
    
    width: 40%;
    margin-top: 2%;
    margin-right: 10%
}