.mainBody{
    border: 5px solid blue;
    margin: 5px;
}

.button{
    width: 100px;
}

.col {
    float:left;
}

.row{
    justify-content: center;
}

.bold{
    font-weight: bolder;
    color: blue;
}

.center{
    text-align: center;
    text-decoration: underline;
}

.jasonsBox{
    border: 5px solid cyan;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
    text-align: center;
}

.Meetupbox{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2em;
}

.nothing{
    height: 75vh;
}

.the-form{
    width:98px;
    height: 3em;
    margin:1em;
    margin-left: auto;
    margin-right: auto;
}
