.Navbar{
    
    background-color: #0984e3 ;
    margin: 5px;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 2px;
    
   
}
.navlink:hover{
    color: #81ecec ;

}
.notsignedin{
 display: inline;
}
