@tailwind base;
@tailwind components;
@tailwind utilities;

.Footer{
    display:flex;
    justify-content: space-around;
    height: 3vh;
    background-color: #4FB477;
    bottom: 0;
    margin: 1vh;
    
   
}

.FooterLink{
    text-decoration: none;
    color: black;
    padding: 2px;
}

.FooterLink:hover{
    background-color: #2F6690;
    color:azure;
}