@tailwind base;
@tailwind components;
@tailwind utilities;

.Footer{
    display:flex;
    justify-content: space-around;
    background-color: #4FB477;
    position: fixed;
    /* left: 0; */
    bottom: 0;
    width: 90%;
    /* align-content: center; */
    margin-left: 5%;
    margin-right: auto;
}

.FooterLink{
    text-decoration: none;
    color: black;
    padding: 2px;
    text-align: center;
    
}

.FooterLink:hover{
    background-color: #2F6690;
    color: white;
}